@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #111827;
  background: rgb(var(--background-end-rgb));
  @apply relative;
}

/* .styles-module_wrapper__1I_qj {
  @apply bg-black/80;
} */
